li a {
    color: green;
}

.container {
    height: 10em;
    position: relative;
}

.container {
    margin: 0;
    background: none;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}